# ==========================
# FLUTTER IGNORE
# ==========================
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.generated/
flutter_export_environment.sh

# Build
build/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
android/.gradle/
android/.idea/
android/local.properties

# ==========================
# FIREBASE (Bloquea secretos)
# ==========================
# Android Firebase config
android/app/google-services.json

# iOS Firebase config
ios/Runner/GoogleService-Info.plist

# Firebase Hosting cache
.firebase/
.firebase/**

# Firebase service accounts
**/*serviceAccount*.json
**/*-service-account.json
**/firebase-adminsdk*.json

# Cualquier JSON sensible en /assets
assets/*.json

# ==========================
# CREDENCIALES / ARCHIVOS SENSIBLES
# ==========================
*.env
*.key
*.pem
*.p12
*.jks
*.keystore
*.der

# ==========================
# VISUAL STUDIO CODE
# ==========================
.vscode/

# ==========================
# LOGS
# ==========================
*.log
logs/
